/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #FFFFFF;
$body-color: rgb(55, 58, 60);
$link-color: #0066b2;


/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;


/* Custom Styles */
.subtitle {
  text-align: center;
}

/* Custom button style */
button {
  background-color: transparent; /* No filling */
  border: 2px solid rgb(55, 58, 60); /* Gray border */
  color: rgb(55, 58, 60); /* Gray text */
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
}

/* Hover effect for Journal article */
#journal-article-btn:hover {
  border-color: #0066b2; /* Blue border on hover */
  color: #0066b2; /* Blue text on hover */
}

/* Hover effect for GitHub repo */
#github-repo-btn:hover {
  border-color: #00A86B; /* Green border on hover */
  color: #00A86B; /* Green text on hover */
}


